@media only screen and (min-width: 40rem) {

    header, main, nav, footer{
        max-width:1200px;
        margin: 0 auto;
    }

    header{
    grid-template-columns: 24px auto 44px;
    }

       /**Navigation Stuff tag**/
    nav{
        background-color: rgb(119, 197, 223);
        position: static;
    }

    nav li{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

   

      /**Schedule Layout tag**/
    .schedule{
        font-size: 1rem;
    }
FDS 
    .schedule img{
        width: 150px;
    }

    /**Hamburger Stuff tag**/
    .hamburger{
        display:none;
    }

    /**Main Stuff tag**/
    .sbs{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}