/**Cholor Scheme**/
:root{
    --color-primary: #cc33aa;
    --color-secondary: #5577aa;
    /**series of gray**/
    --color-mygrey-05:lab(98% 0 0);
    --color-mygrey-10:lab(97% 0 0);
    --color-mygrey-20:lab(91% 0 0);
    --color-mygrey-30:lab(85% 0 0);
    --color-mygrey-40:lab(66% 0 0);
    --color-mygrey-50:lab(48% 0 0);
    --color-mygrey-60:lab(34% 0 0);
    --color-mygrey-70:lab(27% 0 0);
    --color-mygrey-80:lab(15% 0 0);
    --color-mygrey-90:lab(8% 0 0);
    --color-mygrey-95:lab(3% 0 0);

}

/**Border-Box**/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/**body tag**/
body{
    font-family: "Isometra", serif;

}

/**header tag**/
header{
    padding: 10px 0 10px 10px;
    border-bottom: solid 1px #ddd;
    display: grid;
    align-items: end;
    column-gap: 8px;
    grid-template-columns: 24px auto 44px 44px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    color: var(--color-secondary);
}

/**navigation tag**/
nav{ 
    display: none;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(119, 197, 223);
}

nav a{
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    border-left: solid 1px rgba(245, 242, 242, 0.2);
    text-decoration: none;
    padding: 0.85rem 10px;
    background-color: rgb(119, 197, 223);
}

nav a:hover{
    background-color: rgb(114, 75, 243);
}

nav li:last-child a{
    border-right: solid 1px rgba(245, 242, 242, 0.2);
}

nav.show{
    display: block;
}

nav li.active a{
    background-color: var(--color-mygrey-30);
}

/**Hamburger Stuff tag**/
.hamburger{
    background: none;
    border:none;
    color:var(--color-secondary);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana;
}

.hamburger::before{
    content: "\2630";

}

.hamburger.show::before{
    content: "\00D7";

}

/**main stuff tag**/
    h1{ 
        font-size:1.5rem;
        color: var(--color-mygrey-90);
        font-weight:500;
        margin-left:10px;
    }

    h2{
    color: #5577aa;
    }

    p{
        color: var(--color-mygrey-60);
        }

    .sbs section{
        border: 1px solid #eee;
        border-radius:10px;
        box-shadow: 0 0 10px #aaa;
        margin: 0.5rem 10px;
        overflow: hidden;
    }

    .sbs h2{
        background-color: rgb(119, 197, 223);
        color: #232323;
        font-weight: 400;
        font-size:1.25rem;
        margin: 0;
        padding: 0.5rem 0.2rem;
        text-align: center;
    }

    .sbs p{
        font-weight: 200;
        margin: 10px;
        line-height: 130%;
    }

    .sbs img{
        display: block;
        width:100%;
        height:100%;
        object-fit: cover;
    }

    /**Hero Image tag**/
    .hero{
        position: relative;
    }

    .hero img{
        display: block;
        width: 100%;
        height: auto;
    }
   
    .hero H1{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 10px;
        background-color: rgb(255, 255, 255, 0.5);
        width: 100%;
        color: var(--color-primary);
        font-weight: 400;
    }
 /**Account Layout tag**/
 .hide{
    display: none;
 }

 main section{
    margin: 0.5rem 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px var(--color-mygrey-50);
 }

 /**Sign up Section tag**/
 .signup label{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-mygrey-50);
    display: block;
    padding-bottom: 1rem;
 }

 .signup input{
    display: block;
    padding: 0.5rem 10px;
    width: 275px;
    border: 1px solid var(--color-mygrey-20);
    border-radius: 4px;
 }

 .signup input[type="submit"]{
    background-color: var(--color-secondary);
    color: var(--color-mygrey-05);
    font-weight: 600;
    border:none;
    border-radius: 99px;
    &:hover{
        background-color: var(--color-primary);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
 }

 /**Display Styles tag**/
.display h3{
    color: var(--color-mygrey-50);
    margin: 1rem 0 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.display p{
    margin: 0;
    color: var(--color-primary);
}

.display button{
    background-color: var(--color-secondary);
    color: var(--color-mygrey-05);
    border:none;
    border-radius: 99px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 260px;
    &:hover{
        background-color: var(--color-primary);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
}

/**social media tag**/
    .social{
        display:flex;
        justify-content:center;
        column-gap: 8px;
    }

    .social img{
        display: block;
        width: 22px;
        height: 22px;
    }

    .social a{
        border: solid 1px rgb(0,0,0,0.2);
        border-radius: 4px;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255.255.255, 0.3);
    }

    .social a:hover{
        background-color: rgb(255.255.255, 0.8);
    }

/**Park Card Layout tag**/
    .allparks{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px 10px;
        margin: 10px;
    }

    .allparks div{
        border: solid 1px var(--color-mygrey-10);
        border-radius: 10px;
        overflow: hidden;
    }

    .allparks section{
        position: relative;
    }

    .allparks img{
        width: 100%;
        height: auto;
        display: block;
    }


    .allparks h2{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
        margin: 0;
        padding: 0.5rem 10px;
        font-size: 1.2rem;
        text-align: center;
        box-sizing: border-box;
    }
    .allparks p{
        font-weight: 200;
        color: var(--color-mygrey-70);
        margin: 0.5rem 10px;
        span{
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--color-mygrey-40);
        }
    }

    .allparks a{
        display:  block;
        background-color: var(--color-primary);
        margin: 0.5rem 10px;
        padding: 0.8rem 0;
        text-align: center;
        color: white;
        border-radius: 99px;
        &:hover{
            background-color: var(--color-secondary);
        }
    }

/**footer tag**/
    footer{
        background-color: #ddd;
        padding: 1rem 0;
        text-align: center;
        font-weight: 200;
        font-size: 0.75rem;
}